@import './theme.css'; /* 테마 CSS 파일을 가져오기 */

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--button-hover-bg-color);
}

button {
  @apply px-4 py-2 rounded;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

/* 카드 스타일 */
.card {
  background-color: var(--card-background-color);
  color: var(--card-text-color);
  @apply p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow;
}
